@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,400&display=swap');
:root {
    --blue: #93B7BE;
    --pale-mint: #F1FFFA;
    --cream: #D5C7BC;
    --deep-marroon: #785964;
    --onyx: #454545;
}

* {
    margin: 0;
    padding: 0 0;
}

html, body, #root, main {
    height: 100%;
}

#root {
    background-color: var(--pale-mint);
}


p, label {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/* header */
header {
    background-color: var(--onyx);
}

.initials {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: var(--blue);
    align-self: center;
    padding-left: 8%;
    
}

/* nav */
nav {
    padding-top: 2%;
}

li {
    color: var(--blue);
    list-style-type: none;
}

.navActive {
    color: var(--cream);
    font-weight: bold;
}

/* about me */
.about-me {
    width: 80%;
    background-color: var(--blue);
    justify-self: center;
    padding: 3%;
}

.about-me img {
    max-width: 100%;
    border-radius: 50%;
    padding: 2% 2%;
}

.about-me p {
    font-size: 14px;
}

/* portfolio */
.portfolio {
    background-color: var(--blue);
    width: 80%;
}

h2 {
    color: var(--onyx);
    font-family: 'Raleway', sans-serif;
}

.portfolio h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--onyx);
}

/* contact */
.contact {
    background-color: var(--blue);
    width: 80%;
}

#contact-title {
    color: var(--onyx);
}

button {
    width: 80% !important;
    color: var(--cream) !important;
    background-color: var(--onyx) !important;
}

/* footer */
footer {
    background-color: var(--onyx);
    height: 8%;
    align-items: center;
}

footer ul {
    padding-left: 0;
}

footer li.col {
    padding-top: 3%;
}

footer a {
    color: var(--blue);
}
