@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

:root {
    --blue: #93B7BE;
    --pale-mint: #F1FFFA;
    --cream: #D5C7BC;
    --deep-marroon: #785964;
    --onyx: #454545;
}

* {
    margin: 0;
    padding: 0 0;
}

/* header */
header {
    background-color: var(--onyx);
}

.initials {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    align-self: center;
}

/* nav */
nav {
    padding-top: 2%;
}

li {
    color: var(--blue);
    list-style-type: none;
}

.navActive {
    color: var(--cream);
    font-weight: bold;
}

/* footer */
footer {
    background-color: var(--onyx);
    height: 8%;
    align-items: center;
}

footer a {
    color: var(--blue);
    text-decoration: none;
}

footer ul a {}