/* Universal Styles */
:root{
    --primary-color: #000;
    --secondary-color: #fff
}

* {
    margin: 0 0;
}

body {
    margin: 0 15%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color:var(--primary-color)
}

a:hover {
    font-weight: bolder;
}

nav ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

section {
    margin: 5%;
}

.section-title {
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 2.5%;
    padding-bottom: 8px;
}


/* header */
header {
    display: flex;
    color: var(--primary-color);
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
}

header h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

header nav ul {
    display: flex;
    padding: 0;
}

header nav ul li {
    margin: 20px;
}

.navActive span {
    font-weight:bold;
}

/* about */
.about {
    display: flex;
}

.about-me img {
    max-width: 250px;
    border-radius: 50%;
    height: 100%;
}

.about-text {
    margin-left: 20px;
}

/* projects */
.projects {
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
}

.feature-project {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    justify-content: center;
}

.feature-project img {
    height: 300px;
    object-fit: cover;
}

.feature-project h3, .feature-project p{
    margin: 0 auto;
}

.secondary-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1%;
}

.secondary-projects a {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1% 0;
    width: 40%;
}

.project img {
    /* width: 90%; */
    height: 200px;
    margin: 0, 2%;
    object-fit: cover;
}

 .project h3, .project p {
    margin: 0 auto;
}


/* contact */
.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-info .casual a,
.contact-info .professional a,
.contact-info .professional p,
.contact-info .professional h3 {
    margin: 0 auto;
}

.casual, .professional {
    display: flex;
    flex-direction: column;
}

.casual h3, .professional h3 {
    text-align: center;
}


/* footer */
footer {
    background-color: var(--secondary-color);
    margin-top: 20px;
}

footer nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

footer nav ul li {
    padding: 0 3% 3%;
}


/* Media Queries */
@media only screen and (max-width: 910px) {
    body {
        margin: 0 0;
    }


    /* Projects */
    .feature-project a img {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .proejct img {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        flex-direction: row;
    }
}

@media only screen and (max-width: 425px) {
    .about {
        justify-content: center;
        flex-wrap: wrap;
    }

    footer {
        margin-top: 3%;
    }
    
    
}
